/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem "Roboto", sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
   /* color: #fff;
   background-color: #222; */
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 100vw;
}
h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 100;
}
input[type="text"], 
input[type="password"], 
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="submit"]
{
    border: 0;
    background: none;
    font-size: inherit;
}


a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}

/* theme */
header h1{
    text-align: center;
    line-height: 4rem;
  
}
p{
    text-align: center;
    line-height: 2rem;
    padding-top: 5rem;
}
.inner-form fieldset{
    border-radius: 1rem;
    border: solid .1rem hsl(221, 44%, 41%);
}
.inner-form fieldset legend{
    padding: 1rem;
    font-size: large;
    font-variant: small-caps; /* petites capitales */
}
.inner-form{
    max-width: 80rem;
    margin: 5rem auto 2rem;
}
.inner-form form *{
    display: block;
    padding: 1rem 0;
}
.inner-form form input[type="checkbox"]{
    width: auto;
    margin: 2rem 0;
}

.inner-form form input{
    /* border: solid .1rem #333; */
    width: 100%;
    line-height: 3.5rem;
    padding: .5rem;
    transition: all .6s ease-in-out;
}

.inner-form form input[type="text"], 
.inner-form form input[type="password"],
.inner-form form input[type="tel"],
.inner-form form input[type="date"],
.inner-form form input[type="email"]{
    
    border-bottom: solid .1rem #ccc; 
  
    background: rgb(204,204,204);
    background: linear-gradient(90deg,#f8f5f5 0%, #f8f5f5 100%); 
    width: 99%;

}

.inner-form form [placeholder]{
    font-style: italic;
    transition: all .6s ease-in-out;
}
.inner-form form [placeholder]:focus{
    font-style: normal;

}
form input[type="checkbox"]{
    display: inline-block;
    width: auto;
}



.inner-form form label.condition{
    display: inline-block;
    font-style: italic;
}
/* send button */
.inner-form form input[type="submit"]{
   background-color: #1a73e8;
    cursor: pointer;
    width: 35%;
    color: #fff;
    text-transform: uppercase;
    border-radius: .4rem;
    font-size: medium;
    margin-top: 20px;
    margin: 1rem auto 0;
    

}  button{
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: inherit;
}

footer p{
    text-align: center;
}